<div id="<%= dom_id produto %>">
  <p>
    <strong>Nome:</strong>
    <%= produto.nome %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= produto.cor %>
  </p>

  <p>
    <strong>Tamanho:</strong>
    <%= produto.tamanho %>
  </p>

  <p>
    <strong>Posicao estocada:</strong>
    <%= produto.posicao_estocada %>
  </p>

  <p>
    <strong>Preco compra:</strong>
    <%= produto.preco_compra %>
  </p>

  <p>
    <strong>Preco venda:</strong>
    <%= produto.preco_venda %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= produto.descricao %>
  </p>

  <p>
    <strong>Fornecerdor:</strong>
    <%= produto.fornecerdor %>
  </p>

</div>
